<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791509431130-mracbht2bigdcsdip8dd3knq7fkdscsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791509431130-mracbht2bigdcsdip8dd3knq7fkdscsf</string>
	<key>API_KEY</key>
	<string>AIzaSyALowZMbODbvs1lWwUBzuPnyZJuAh8X8aU</string>
	<key>GCM_SENDER_ID</key>
	<string>791509431130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikita.Sweet-Home</string>
	<key>PROJECT_ID</key>
	<string>sweet-home-9e684</string>
	<key>STORAGE_BUCKET</key>
	<string>sweet-home-9e684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791509431130:ios:0a3f19b5bb438f7c</string>
	<key>DATABASE_URL</key>
	<string>https://sweet-home-9e684.firebaseio.com</string>
</dict>
</plist>